<header role="banner" class="header line pam mbs">
    <div class="header-logo"><a href="{{ path('test_general_homepage') }}" title="Retour à la page d'accueil"><img src="{{ asset('img/logo.png') }}" alt="logo"></a></div>
</header><!-- Fin header //-->

