<img src="http://www.gif-maniac.com/gifs/52/52054.gif" />
<br>
<p>Votre Demande de devis est faite</p>
<p><a href="{{ path('test_general_homepage') }}"><< Cliquez ici pour revenir à l'accueil >></a></p>